NETWORK = "ethereum"
DATABASE_NAME = "sample"

CLICKHOUSE_SERVER = "127.0.0.1:18123"
CLICKHOUSE_USERNAME = "VictorJuiz"
CLICKHOUSE_PASSWORD = "1865"

MEMGRAPH_SERVER = "bolt://localhost:7687"
MEMGRAPH_USERNAME = ""
MEMGRAPH_PASSWORD = ""

NATS_SERVER = "nats://192.168.1.5:4222"

PROVIDER_URIS = ["https://eth-pokt.nodies.app", "https://mainnet.infura.io/v3/29b89f1d2c8347d291a17088b2bf2a52"]
WEBSOCKET_URL = "wss://mainnet.infura.io/ws/v3/29b89f1d2c8347d291a17088b2bf2a52"

ENVIRONMENT_NAME = ""

DEBUG_MODE = false